*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
}

.header-wrapper {
  height: 70px;
  background-color: black;
  display: flex;
}

.left-header {
  background: url("../images/naver-logo.jpeg") no-repeat center;
  background-size: cover;
  opacity: 0.8;
  flex: 1;
}

.middle-header {
  background-color: rgba(4,207,92, .7);
  opacity: 0.8;
  flex: 1;
}

.right-header {
  background-color: rgba(4,207,92, .5);
  opacity: 0.8;
  flex: 1;
}

.main-wrapper {
  height: calc(100% - 120px);
  background-color: rgba(4,207,92, .5);
  display: flex;
}

.aside {
  background-color: rgba(4,207,92, .7);
  flex: 1;
}

.main {
  background-color: rgba(4,207,92, .4);
  flex: 3;
}

.footer {
  height: 50px;
  background-color: rgba(4,207,92, 1);
}
