* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-wrapper {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
}

.left-header {
  background-color: greenyellow;
  opacity: 0.8;
  flex: 1;
}

.middle-header {
  background-color: burlywood;
  opacity: 0.8;
  flex: 1;
}

.right-header {
  background-color: orchid;
  opacity: 0.8;
  flex: 1;
}

.main-wrapper {
  height: 440px;
  background-color: skyblue;
  display: flex;
}

.aside {
  background-color: tomato;
  flex: 1;
}

.main {
  background-color: khaki;
  flex: 3;
}

.footer {
  height: 50px;
  background-color: gray;
}
